{% load static %}
{% block body %}
<html>
<head>
<title>An Implementation of blockchain technology on forensic evidence Management System | Home</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!--//theme-style-->

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<div class="header">
<table cellpadding="10" width="50%" align="center" bgcolor="lightblue" style="color:yellow; font-size:30px;" align="center">

							<tr>
								<td>


GURU NANAK DEV ENGINEERING COLLEGE BIDAR,<br> KARNATAKA-585403
ACADEMIC YEAR 2022-23
							</td>
							</td>
							</tr>
						</table>

</div>
 {% include 'header.html' %}

<!--content-->
	<div class="content">
		<div class="container">

			<div class="content-welcome">

				<div class="col-md-8 come">
					<br>
					<br>
					<br>
					<div class=" welcome">


							</div>
				</div>

				<div class="col-md-4 red">
				<h3>Mission & Vision</h3>
				<ul>
							<li>Evidence management is crucial in the field of forensic science. Evidences obtained from a crime scene are important in solving the case and delivering justice to the parties involved. </li>
					<li></li>Hence, protecting these evidences from any form of alteration is of utmost important. Chain of Custody is the process which maintains the integrity of evidence. </li>
					<li>Inability to maintain the chain of custody will make the evidence inadmissible in court, eventually leading to the case dismissal. </li>
					<li>Digitalization of forensic evidence management system is a need of time as it is an environment friendly model. </li>
					<li>Blockchains are digitally distributed ledgers of transactions signed cryptographically in chronological order that are sorted into blocks and is completely open to anyone in the blockchain network.
					</li>	<li></li>
	</ul>
				</div>
				<div class="clearfix"> </div>



				<table cellpadding="10" align=""right" >
				<tr>
					<td colspan="2" style="font-weight:bolder; color:red;" bgcolor="yellow">
						Group Members:


					</td>

				</tr>
				<tr><td> ACHARI SANTOSH</td> <td> (3GN18CS002)</td></tr>
				<tr><td> AKHILESH</td> <td> (3GN18CS008)</td></tr>
				<tr><td>  AMBIKA </td> <td> (3GN18CS012)</td></tr>
				<tr><td> NAZIYA SAHER </td> <td> (3GN19CS058)</td></tr>
				<tr>
					<table cellpadding="10" align=""right" >

					<td colspan="2" style="font-weight:bolder; color:red;" bgcolor="yellow">
						Under the Gidance of :  </td>
				<tr><td>Prof.SANDEEP IDDALGAVE</td></tr>

				</table>

			</div>

		</div>

		<!--footer-->
		 {% include 'footer.html' %}
		<!--//footer-->
</body>
</html>
{% endblock %}